version 5.245.1

group Domain
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget FsToolkit.ErrorHandling

group Backend
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget Giraffe
    nuget Fable.Remoting.Giraffe
    nuget Saturn

    nuget FSharp.Core
    nuget FsToolkit.ErrorHandling
    nuget FsToolkit.ErrorHandling.TaskResult
    nuget System.IdentityModel.Tokens.Jwt
    nuget Fable.Remoting.Server
    nuget Microsoft.AspNetCore.Cryptography.KeyDerivation
    nuget FSharpPlus
    nuget Microsoft.Data.Sqlite
    nuget Dapper
    nuget FsConfig
    nuget Microsoft.Extensions.Configuration.UserSecrets 
    nuget Feliz.ViewEngine
    nuget Feliz.Bulma.ViewEngine

group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget fstoolkit.errorhandling
    nuget Fable.Remoting.Client 5.10.2
    nuget Fable.Browser.Dom

group Migrations
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget Argu
    nuget Simple.Migrations
    nuget Microsoft.Data.Sqlite
    
group UnitTests
    source https://www.nuget.org/api/v2
    framework: netcoreapp3.1
    storage: none
    
    nuget FSharp.Core
    nuget Expecto
    nuget Unquote
    nuget Fable.Elmish ~> 3
    nuget Simple.Migrations
    nuget Microsoft.Data.Sqlite
    
group WebTests
    source https://www.nuget.org/api/v2
    framework: netcoreapp3.1
    storage: none
    
    nuget canopy
    nuget Selenium.WebDriver.ChromeDriver
    nuget runtime.osx.10.10-x64.CoreCompat.System.Drawing


group Build

    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    nuget Fake.Core.Target 5.19.0
    nuget Fake.Core.ReleaseNotes 5.19.0
    nuget FAKE.Core.Environment 5.19.0
    nuget FAKE.Core.Process 5.19.0
    nuget Fake.DotNet.Cli 5.19.0
    nuget Fake.IO.FileSystem 5.19.0
    nuget Fake.Tools.Git 5.19.0
    nuget Fake.BuildServer.TeamFoundation 5.19.0
