group Domain
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core 4.7.0
    nuget FsToolkit.ErrorHandling

group Backend
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp3.1
    storage: none

    nuget Giraffe
    nuget Fable.Remoting.Giraffe ~> 3

    nuget FSharp.Core 4.7.0
    nuget FsToolkit.ErrorHandling
    nuget System.IdentityModel.Tokens.Jwt
    nuget Fable.Remoting.Server
    nuget Microsoft.AspNetCore.Cryptography.KeyDerivation
    nuget FSharpPlus
    nuget System.Data.SqlClient
    nuget Dapper
    nuget FsConfig
    nuget Microsoft.Extensions.Configuration.UserSecrets 
    nuget Microsoft.ApplicationInsights.AspNetCore


group Client
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.React ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.Browser ~> 3
    nuget Fable.React ~> 5
    nuget fstoolkit.errorhandling
    nuget Fable.Remoting.Client ~> 5
    nuget Fable.SimpleJson ~> 3
    nuget Fulma
    nuget Fable.FontAwesome.Free
    nuget Fulma.Elmish
    nuget Fulma.Extensions.Wikiki.PageLoader
    nuget Fulma.Extensions.Wikiki.Quickview

group Console
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core 4.7.0
    nuget FsToolkit.ErrorHandling
    nuget System.IdentityModel.Tokens.Jwt
    nuget Microsoft.AspNetCore.Cryptography.KeyDerivation
    nuget Argu

group Migrations
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget Argu
    nuget Simple.Migrations
    nuget System.Data.SqlClient 

group Tests
    source https://www.nuget.org/api/v2
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core 4.7.0
    nuget Expecto
    nuget Unquote
    nuget Fable.Elmish ~> 3

group Build

    source https://www.nuget.org/api/v2
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    nuget Fake.Core.Target 5.19.0
    nuget Fake.Core.ReleaseNotes 5.19.0
    nuget FAKE.Core.Environment 5.19.0
    nuget FAKE.Core.Process 5.19.0
    nuget Fake.DotNet.Cli 5.19.0
    nuget Fake.IO.FileSystem 5.19.0
    nuget Fake.Tools.Git 5.19.0
    nuget Fake.BuildServer.TeamFoundation 5.19.0
